<form target="_self" method="post">
    <input type="text" placeholder="Title"  value="{{item.title}}" name="title" id="title">
    <textarea name="content" id="content">

        {{item.content}}

    </textarea>
    <button>Submit</button>
</form>