<form target="_self" method="post">
    <div class="form-item"> 
        <input type="text" placeholder="Login">
    </div>
    <div class="form-item"> 
        <input type="password" placeholder="Password">
    </div>
    <button>Send</button>
</form>