<form target="_self" method="post">
    <div class="form-item"> 
        <input type="text" id="userna" name="username" placeholder="Login">
    </div>
    <div class="form-item"> 
        <input type="password" id="password" name="password" placeholder="Password">
    </div>
    <button>Send</button>
</form>